{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Vyssio</title>
    <link rel="icon" type="image/png" href="{% static 'vendor/bulkit/img/favicon.png' %}" />

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/bulkit/css/bulma.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'vendor/bulkit/css/app.css' %}"> {% endcomment %}
    <link id="theme-sheet" rel="stylesheet" href="{% static 'vendor/bulkit/css/core.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

</head>

<body class="is-theme-core">
    <!-- Hero and nav -->
    <div id="landing-hero" class="hero is-relative is-theme-primary has-waves-bottom">
        <!-- Hero caption -->
        <div id="main-hero" class="hero-body ">
            <div class="container">
                <div class="columns is-vcentered is-tablet-portrait">
                    <!-- Caption -->
                    <div class="column is-5 is-header-caption has-text-left">
                        <h1 class="title landing-title">
                            Store Your Amazon Ads Data in Google Sheets
                        </h1>
                        <h2 class="subtitle is-5 light-text">
                            Evaluate prospective clients faster, make it obvious to current clients why they should keep working with you, &amp; more!
                        </h2>
                        <p class="buttons">
                            <a href="https://calendly.com/rquin/30min" 
                                class="button button-cta btn-align btn-outlined is-bold light-btn rounded z-index-2"
                                target="_blank">
                                Schedule a Demo
                            </a>
                        </p>
                    </div>
                    <!-- UI Mockup -->
                    <div class="column is-4 is-offset-2">
                        <figure class="image is-4 is-pushed">
                            <img class="has-light-shadow" src="{% static 'vendor/bulkit/img/graphics/apps/amazon.png' %}" data-base-url="vendor/bulkits/img/graphics/apps/amazon" data-extension=".png" alt="">
                        </figure>
                        <figure class="image is-4 is-pushed">
                            <img class="has-light-shadow" src="{% static 'vendor/bulkit/img/graphics/apps/google_sheets.png' %}" data-base-url="vendor/bulkits/img/graphics/apps/google_sheets" data-extension=".png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services section -->
    <div id="services" class="section is-medium">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">1</div>
                <h2 class="section-title-landing">
                    Reports Without the Hassle
                </h2>
                <h4>Easily get your Amazon data</h4>
            </div>

            <div class="content-wrapper">
                <div class="columns is-vcentered is-multiline has-text-centered align-items-stretch d-flex">
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="wavy-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-Speach-Bubble2"></i>
                            </div>
                            <div class="box-title">Automatic Updates</div>
                            <p class="box-content is-tablet-padded">No more manually downloading reports and copying them into Google Sheets</p>
                        </div>
                    </div>
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="wavy-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-Arrow-Around"></i>
                            </div>
                            <div class="box-title">Updated Daily</div>
                            <p class="box-content is-tablet-padded">No more using reports that are only updated weekly</p>
                        </div>
                    </div>
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="wavy-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-File-Chart"></i>
                            </div>
                            <div class="box-title">More Control</div>
                            <p class="box-content is-tablet-padded">Own your data and integrate with your preferred tools like Google Data Studio.</p>
                        </div>
                    </div>
                    <!-- Icon block -->
                    <div class="column is-3">
                        <div class="wavy-icon-box">
                            <div class="is-icon-reveal">
                                <i class="im im-icon-File-Chart"></i>
                            </div>
                            <div class="box-title">Manage Multiple Accounts</div>
                            <p class="box-content is-tablet-padded">Easily manage multiple accounts with our tool.</p>
                        </div>
                    </div>
                </div>
                <div class="has-text-centered pt-40 pb-40">
                    <a  href="https://calendly.com/rquin/30min" 
                        class="button button-cta primary-btn rounded raised"
                        target="_blank">
                        Schedule a Demo
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Features section -->
    <div class="section section-feature-grey is-medium">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">2</div>
                <h2 class="section-title-landing">
                    Available Amazon APIs
                </h2>
            </div>

            <div class="row">
                <div class="col-sm-4 align-items-stretch d-flex">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title box-title text-center" style="color:#8c8cf9;">Amazon Ads</h6>
                      <br>
                      <p class="text-center">
                        Campaign and performance data for Sponsored Products, Sponsored Brands, and Sponsored Display are available through the API. Amazon Attribution (beta) insights are also available through the Amazon Ads API. 
                        <br><br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 align-items-stretch d-flex">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title box-title text-center" style="color:#8c8cf9;">Amazon Attribution (Beta)</h6>
                        <br>
                        <p class="text-center">
                          Amazon Attribution can help measure the full-funnel impact non-Amazon Ads media such as search ads, social ads, display ads, video ads, and email marketing. Insights throughout the shopping journey including clicks, detail page views, and purchases can be utilized to optimize campaign ROI.
                        </p>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-4 align-items-stretch d-flex">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center" style="color:#8c8cf9;">Selling Partner API</h6>
                      <br>
                      <p class="text-center">Helps Amazon selling partners access their data on orders, shipments, payments, and much more. Can increase selling efficiency, reduce labor requirements, and improve response time to customers, helping selling partners grow their businesses.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Features section -->

    <!-- Contact form -->
    <div class="section is-medium is-relative has-waves-bottom-dark section-feature-grey">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">3</div>
                <h2 class="section-title-landing">
                    Schedule a Demo
                </h2>
            </div>
            <!-- /Title -->

            <div class="content-wrapper giant-pb">
                <form>
                    <div class="columns">
                        <div class="column is-4 is-offset-5">
                            <div class="columns is-vcentered">
                                <a href="https://calendly.com/rquin/30min" 
                                    class="button button-cta btn-align primary-btn btn-outlined is-bold rounded raised no-lh"
                                    target="_blank">
                                    Schedule a Demo
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Contact form -->
    <div class="section is-medium is-relative has-waves-bottom-dark section-feature-grey">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">4</div>
                <h2 class="section-title-landing">
                    Sign Up for our Newsletter
                </h2>
            </div>
            <!-- /Title -->

            <div class="content-wrapper giant-pb">
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="columns is-vcentered">
                                <div class="column is-3">
                                    <!-- Form field -->
                                    <div class="control-material is-primary">
                                        <input class="material-input" type="text" name="name" required>
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Name *</label>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <!-- /Form field -->
                                    <div class="control-material is-primary">
                                        <input class="material-input" type="text" name="email" required>
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Email *</label>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <!-- Form field -->
                                    <div class="control-material is-primary">
                                        <input class="material-input" type="text" name="company" required>
                                        <span class="material-highlight"></span>
                                        <span class="bar"></span>
                                        <label>Company *</label>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <button type="submit" class="button button-cta btn-align primary-btn btn-outlined is-bold rounded raised no-lh">
                                        Sign me up
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Dark footer -->
    <footer id="dark-footer" class="footer footer-dark">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Product</h3>
                        </div>
                        <ul class="link-list">
                            <li><a href="#">Free trials and demo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Company</h3>
                        </div>
                        <ul class="link-list">
                            <li><a href="privacy_policy">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Dark footer -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    <!-- /Chat widget -->
    <!-- Concatenated jQuery and plugins -->
    <script src="{% static 'vendor/bulkit/js/app.js' %}"></script>

    <!-- Bulkit js -->
    <script src="{% static 'vendor/bulkit/js/functions.js' %}"></script>
    <script src="{% static 'vendor/bulkit/js/auth.js' %}"></script>
    <script src="{% static 'vendor/bulkit/js/contact.js' %}"></script>
    <script src="{% static 'vendor/bulkit/js/main.js' %}"></script>

    <!-- Landing page js -->
</body>

</html>
