Django
django-allauth
psycopg2-binary
djangorestframework
djangorestframework-api-key
coreapi  # DRF schemas and docs
stripe
dj-stripe
django-anymail[mailgun]  # email services
django-hijack
celery-progress
celery
celery[redis]
sentry-sdk
pandas
google-auth
google-auth-oauthlib
google-api-python-client
debugpy
pycryptodomex
dash
plotly
django_plotly_dash
channels
channels-redis
django-celery-beat
django-analytical